<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="innov.fr">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UpdateMail"></activity>
        <activity android:name=".UpdatePassword" />
        <activity android:name=".UpdateProfile" />
        <activity android:name=".Profile" />
        <activity android:name=".PasswordActivity" />
        <activity android:name=".Activity_registration" />
        <activity android:name=".Activity_home" />
        <activity android:name=".activity_settings_languages_ang" />
        <activity android:name=".activity_settings_themes" />
        <activity android:name=".activity_connexion" />
        <activity android:name=".activity_settings" />
        <activity android:name=".activity_results" />
        <activity android:name=".activity_weight" />
        <activity android:name=".activity_settings_aide" />
        <activity android:name=".activity_settings_languages" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>